.votingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  max-width: 95%;
  margin: 0 auto;
  margin-top: 16px;
  border: 1px solid #0070f3;
  border-radius: 8px;
  padding: 16px;
  min-height: 400px;
}

.title {
  font-size: 32px;
}

.infoText {
  font-size: 12px;
  text-align: center;
}

.votingInfoContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  margin-bottom: 16px;
}

.votingInfo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;
}

.optionName {
  width: 100%;
  justify-self: center;
  text-align: center;
  font-style: italic;
  font-size: 16px;
}

.dateContainer {
  font-size: 12px;
  font-style: oblique;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  gap: 4px;
  margin-bottom: 16px;
}

.optionName {
  padding: 4px;
  border: 1px solid #0070f3;
  border-radius: 8px;
  transition: all 0.3s;
  cursor: pointer;
}

.optionName:hover {
  box-shadow: inset 0 0 0 2px #0070f3;
}

.active {
  box-shadow: inset 0 0 0 2px #0070f3;
}

.voteButton {
  cursor: pointer;
  margin-top: 24px;
  background-color: #e6f1fe;
  padding: 8px;
  width: 100%;
  border: 1px solid #004392;
  border-radius: 8px;
  font-size: 16px !important;
  transition: all 0.3s;
}

.voteButton:not(.disabled):hover {
  border: 1px solid #e6f1fe;
  background-color: #004392;
  color: #e6f1fe;
}

.disabled {
  user-select: none;
  cursor: not-allowed;
  pointer-events: stroke;
}

.viewButton {
  margin-top: auto;
}
